[data-view=hero-homepage] {
    background-color: var(--color-1);
    display: grid;
color:#fff;
    text-align: center;

    .container {
        grid-area: 1 / 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - var(--header-height));
    }

    h1{
        font-size: 120px;
    }

    .chapo{
        font-size: 40px;
    }

    .bg {
        grid-area: 1 / 1;
        width: 100%;
        height: 100%;
        order: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
}