.block-header {
    margin-bottom: 40px;
    
    h2 {
        margin-bottom: 10px;
    }

    .intro {
        font-size: 18px;
        font-style: italic;
    }
}

.block-image{
    img{
        width: 100%;
        height: auto;
    }
}