
#footer {
    display: flex;
    align-items: center;
    padding: var(--margin-lg) var(--ctr-margin) 0;
    margin-top: 20px;

    .social{
       display: grid;
       grid-auto-flow: column;
       grid-gap: 10px;


       a{
           display: block;
           border: 1px solid #3F3B8F59;
           border-radius: 50%;
       }
       svg{
           fill: var(--color-5);
       }
    }
    .extra{
        font-size: var(--font-size-sm);
    }

    @media (--breakpoint-lg-down) {
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
.social{
    margin-top: 20px;
}
        .extra{
            margin-top: 16px;
        }
    }
    @media (--breakpoint-lg-up) {
        height: 130px;

        .logo{
            margin-right: auto;
        }
        .social{
            margin-right: 20px;
        }
    }
}