html{
    font-size: 62.5%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: var(--font-1);
    font-size: var(--font-size);
    color: var(--color-text);
    line-height: 1;
    overflow-anchor: none;

    &.hasPopin {
        height: 100vh;
        overflow: hidden !important;
        position: relative;
        touch-action: none;
        -webkit-overflow-scrolling: touch;
    }
}

.container {
    max-width: var(--ctr-width);
    margin-right: auto;
    margin-left: auto;
    padding-left: var(--ctr-offset);
    padding-right: var(--ctr-offset);
}

.container-fluid {
    padding-left: var(--ctr-offset);
    padding-right: var(--ctr-offset);
}

main {
    margin-top: var(--header-height);
    padding-bottom: 40px;
}

.page-homepage{
    padding-bottom: 0;
}

#quick_access {
    height: 0;
    overflow: hidden;

    &:focus-within {
        padding: 20px var(--ctr-offset);
        height: auto;
        
        a {
            margin-right: 15px;
        }
    }
}