.tl1{
    font-family: var(--font-2);
    font-size: var(--font-size-xxlg);
    line-height: 1.1; 
}
.tl2{
    font-family: var(--font-2);
    font-size: var(--font-size-xlg);
    line-height: 1.1; 
    font-weight: 500;
    color: var(--color-2);
}
.tl3{
    color: var(--color-3);
    font-family: var(--font-2);
    font-weight: 700;
    font-size: var(--font-size-md);
    margin-bottom: 20px;
    line-height: 1.25;
}

.link-1{
    text-decoration: underline;
    color: var(--color-2);
}
.link-2{
    color: var(--color-3);
    font-weight: 700;
    
    &[target=_blank]{
        padding-left: 35px;
        background: transparent url(../img/blank.svg) no-repeat 0 0;
    }
}

.btn-1{
    font-size: 1rem;
    font-family: var(--font-1);
    font-weight: 800;
    background: linear-gradient(90deg, var(--color-5) 20%, var(--color-1) 80%, var(--color-2) 100%);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    color: #fff;
    min-height: 48px;
    display: inline-flex;
    align-items: center;
    border-radius: 25px;

    .icon{
        fill: #fff;
        margin-top: -2px;
        margin-right: 10px;
    }
}
.btn-picto{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E9E9E9;
    transition: border .3s ease;
    border-radius: 50%;

    .icon{
        fill: var(--color-5);
    }
    &.light{
        border: 1px solid #7875B0;

        &:hover{
            border: 1px solid #9D9CAC;
        }
    }
    &:hover{
        border: 1px solid #A8A5A5;
    }
}

.rte{
    h2{
        margin-bottom: 25px;
        color: var(--color-1);
        font-family: var(--font-2);
        font-size: var(--font-size-lg);
    }
    h3{
        color: var(--color-3);
        font-family: var(--font-2);
        font-weight: 700;
        font-size: var(--font-size-md);
        margin-bottom: 20px;
        line-height: 1.25;
    }
    p{
        line-height: 1.4;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a{
        color: var(--color-3);
        font-weight: 700;
    }
    a[target=_blank]{
        padding-left: 35px;
        background: transparent url(../img/blank.svg) no-repeat 0 0;
    }
    strong{
        color: var(--color-1);
        font-weight: 700;
    }
    ul, ol{
        line-height: 1.4;
        font-weight: 300;
        margin-bottom: 20px;
        display: grid;
        grid-gap: 20px;
    }
    ul{
        li{
            padding-left: 25px;
            position: relative;

            &:before{
                content: "•";
                position: absolute;
                left: 0;
                top: 0;
                line-height: 1.15;
                font-size: 1.41rem;
                color: var(--color-1);
            }
        }
    }
    *:nth-last-child(1){
        margin-bottom: 0;

    }
    @media (--breakpoint-lg-up) {
        h2, h3{
            padding-right: 12%;
        }
    }

}

.socials-share {
    display: inline-flex;
    flex-direction: column;

    .label{
        text-transform: uppercase;
        font-family: var(--font-2);
        font-weight: 700;
        margin-bottom: 15px;
    }
    .icon {
        fill: var(--color-tpl-1);
    }
    ul {
        display: inline-grid;
        grid-auto-flow: column;
        grid-gap: 10px;
    }
    a{
        display:block;
        border: 1px solid var(--color-tpl-2);
        border-radius: 50%;
    }
    @media (--breakpoint-md-down) {
        .label{
            font-size: 1.125rem;
        }
    }
    @media (--breakpoint-md-up) {
        align-items: flex-end;

        .label{
            font-size: 1rem;
        }
    }
}

/* slider push article */
.slider-control{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
}
.slider-container{
    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (--breakpoint-lg-down) {
        padding-right: 40px;
    }
}
.slider{
    --nb: 1;

    @media (--breakpoint-md-up) {
        --nb: 2;
    }
    @media (--breakpoint-lg-up) {
        --nb: 3;
    }
}


/* animations */
@keyframes fromLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromRight{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromBottom{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}