:root{
    --font-1: 'ConduitITCPro', sans-serif;
    --font-2: 'aeonik', sans-serif;

    --ctr-width: 1400px;
   
    --color-text: #1D1D1B;

    --gray-light: #ECECEC;
    --gray: #ECECEC;
    --gray-dark: #ECECEC;

    --color-1: #7163A9;
    --color-2: #3F3B8F;
    --color-3: #0089AB;
    --color-4: #77C7C8;
    --color-5: #F18E7E;

    --color-error: red;
    --color-valid: green;
    --color-focus: blue;
}

@media(--breakpoint-lg-down){
    :root{
        --ctr-offset: 20px;
        --header-height: 70px;
        --gap: 20px;

        --font-size-sm: 1.2rem;
        --font-size: 1.4rem;
        --font-size-md: 1.6rem;
        --font-size-lg: 1.8rem;
        --font-size-xlg: 2rem;
        --font-size-xxlg: 2.2rem;
    
        --margin-sm: 10px; 
        --margin: 10px;
        --margin-md: 20px;
        --margin-lg: 20px;
    }
}

@media (--breakpoint-lg-up) {
    :root{
        --ctr-offset: 60px;
        --header-height: 90px;
        --gap: 40px;

        --font-size-sm: 1.2rem;
        --font-size: 1.4rem;
        --font-size-md: 1.6rem;
        --font-size-lg: 2.2rem;
        --font-size-xlg: 2.8rem;
        --font-size-xxlg: 3.2rem;

        --margin-sm: 10px; 
        --margin: 20px;
        --margin-md: 30px;
        --margin-lg: 40px;
    }
}
