[data-view=interview]{
    padding-top: var(--margin-lg);
    padding-bottom: var(--margin-lg);
    content-visibility: auto;
}
    

    [data-view=interview] .container{
        display: grid;
    }
    

    [data-view=interview] h2{
        font-family: var(--font-2);
        font-weight: 700;
        opacity: 0;
    }
    

    [data-view=interview] q{
        font-family: var(--font-2);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;
        background: linear-gradient(90deg, var(--color-10) 0%,var(--color-5) 40%, var(--color-2) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        display: block;
        opacity: 0;
    }
    

    [data-view=interview] .author{
        color: var(--color-1);
        font-family: var(--font-2);
        font-size: 2.5rem;
        text-transform: uppercase;
        opacity: 0;
    }
    

    [data-view=interview] .function{
        opacity: 0;
    }
    

    [data-view=interview] .videoPlayer-cta{
        opacity: 0;
        justify-self: start;
    }
    

    [data-view=interview] .container > picture{
        opacity: 0;
    }
    

    [data-view=interview] .container > picture img{
            width: 100%;
            height: auto;
            border-radius: 20px;
        }
    

    [data-view=interview] .videoPlayer {
        position: relative;
        display: flex;
        transition: opacity 0.4s ease 0.2s;
        background: rgba(0,0,0,.5);
        width: 1px;
        height: 1px;
         margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        visibility: hidden;
        opacity: 0;
    }
    

    [data-view=interview] .videoPlayer .box{
            display: grid;
            grid-auto-rows: auto;
            margin: auto;  
        }
    

    [data-view=interview] .videoPlayer header{
            grid-column: 1;
            grid-row: 1;
            height: 67px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: #fff;
            padding: 0 30px;
            border-radius: 20px 20px 0 0;
        }
    

    [data-view=interview] .videoPlayer .btn-close .icon{
                fill: var(--color-5);
            }
    

    [data-view=interview] .videoPlayer .player {
            grid-column: 1;
            grid-row: 2;
            z-index: 0;
            background: #000;
            opacity: 0;
            transition: opacity 0.4s ease 0.2s;
        }
    

    [data-view=interview] .videoPlayer .posterframe{
            grid-column: 1;
            grid-row: 2;
            opacity: 0;
            width:100%;
            max-width: 800px;
            height: auto;
        }
    

    [data-view=interview] .videoPlayer .posterframe img{
                width: 100%;
                height: auto;
            }
    

    [data-view=interview] .videoPlayer iframe {
            width: 100%;
            height: 100%;
            grid-column: 1;
            grid-row: 2;
        }
    

    [data-view=interview] .videoPlayer[aria-hidden=false]{
            clip: auto;
            width: 100%;
            height: 100vh;
            margin: 0;
            overflow: visible;
            visibility: visible;
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            opacity: 1;
            padding: var(--ctr-margin);
            box-sizing: border-box;
        }
    

    [data-view=interview] .videoPlayer[aria-hidden=false] .player {
                opacity: 1;
            }
    

    @media (max-width: 767px) {
        [data-view=interview] q{
            margin-top: 20px;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        [data-view=interview] .author{
            font-size: 1.5rem;
        }
        [data-view=interview] h2{
            margin-top: 20px;
            font-size: 2.25rem;
            margin-bottom: 30px;
        }
                [data-view=interview] .container picture img{
                   max-width: 395px;
                }
    }
    

    @media (min-width: 768px) {

        [data-view=interview] .container{
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: var(--gap);
            align-content: start;
        }
        [data-view=interview] q{
            margin-top: 60px;
            margin-bottom: 40px;
            grid-column: 6/-1;
            grid-row: 1;
            font-size: 2.375rem;
            margin-left: calc(-1 * var(--gap));
      
        }
        [data-view=interview] .author{
            margin-bottom: 5px;
            grid-column: 7/-1;
            grid-row: 2;
        }
        [data-view=interview] .function{
            grid-column: 7/-1;
            grid-row: 3;
        }
        [data-view=interview] h2{
            margin-top: 20px;
            margin-left: -2px;
            margin-bottom: 30px;
            font-size: 4rem;
            grid-column: 1/-1;
            grid-row: 6;
        }
        [data-view=interview] .videoPlayer-cta{
            grid-column: 1/-1;
            grid-row: 7;
        }
        [data-view=interview] .container > picture{
            grid-column: 1/7;
            grid-row: 1/6;
        }

            [data-view=interview] .container > picture img{
                border-radius: 30px;
            }
        [data-view=interview] .content{
            grid-column: 7/-1;
            grid-row: 2;
        }
    }
    

    @media (min-width: 992px) {
        [data-view=interview] h2{
            grid-column: 7/-1;
            grid-row: 4;
            margin-bottom: 60px;
        }
        [data-view=interview] .videoPlayer-cta{
            grid-column: 7/-1;
            grid-row: 5;
        }
        [data-view=interview] .container > picture{
            grid-column: 1/7;
            grid-row: 1/10;

        
        }
    }
